.gridColumn {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    margin-right: 2px;
    background-colr: white;
    transition: 0s 180s;
}

.gridColumn:hover {
    background-color: grey;
    transition: 0s;
}
